@charset "UTF-8";
/*Reset de valores*/
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
}

.fondo-index-main {
  background-image: url("../imagenes/imagenindex2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  z-index: -2;
}

.fondoindexfooter {
  background-image: url("../imagenes/imagenindexfondo1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/*Header - Menu*/
.animacion-header:hover {
  transform: scale(1.2);
  transition: all 1s;
}

/* Fin header */
/* Main / Section / Div */
.contenedor-main-index {
  display: grid;
  grid-template-columns: 25% 20% 10% 20% 25%;
  grid-template-rows: repeat(5, 200px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.mainizquierda {
  grid-area: 1/1/6/2;
}

.maincentro {
  grid-area: 3/3/4/4;
}

.mainderecha {
  grid-area: 1/5/6/6;
}

.mainabajo {
  grid-area: 5/2/6/5;
}

.tamañologo {
  width: 100%;
  border-radius: 50%;
  animation: moverlogo1 5s ease-in-out infinite;
}

@keyframes moverlogo1 {
  0% {
    transform: scale(3);
    opacity: 70%;
  }
  15% {
    transform: scale(2.8);
    opacity: 75%;
  }
  30% {
    transform: scale(2.6);
    opacity: 80%;
  }
  40% {
    transform: scale(2.4);
    opacity: 85%;
  }
  50% {
    transform: scale(2.2);
    opacity: 90%;
  }
  55% {
    transform: scale(2);
    opacity: 95%;
  }
  65% {
    transform: scale(2.2);
    opacity: 100%;
  }
  75% {
    transform: scale(2.4);
    opacity: 100%;
  }
  85% {
    transform: scale(2.8);
    opacity: 100%;
  }
  100% {
    transform: scale(3);
    opacity: 100%;
  }
}
.hipervinculonuevotema {
  text-decoration: none;
}

.nuevotema {
  font-family: "Tourney", cursive;
  font-size: 300%;
  padding: 25%;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
}

.temanuevoanimacion {
  width: 100%;
  border-radius: 20%;
  animation: temanuevo 3s ease-in-out infinite;
}

@keyframes temanuevo {
  0% {
    transform: translateY(-20%);
  }
  25% {
    transform: translateY(-15%);
  }
  50% {
    transform: translateY(-10%);
  }
  75% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(-20%);
  }
}
.tituloderecha {
  color: white;
  margin: 30% 10% 10%;
}

.parrafoderecha {
  color: white;
  margin: 0% 20%;
  font-size: x-large;
}

/* @MEDIA DEL TITULO CON ANIMACION */
@media only screen and (max-width: 712px) and (min-width: 0px) {
  .nuevotema {
    font-size: 0%;
  }
  .temanuevoanimacion {
    width: 0%;
  }
}
@media only screen and (max-width: 1266px) and (min-width: 0px) {
  .mainderecha {
    grid-area: 2/1/3/6;
  }
}
@media only screen and (max-width: 1266px) and (min-width: 0px) and (max-width: 790px) and (min-width: 0px) {
  .maincentro {
    grid-area: 2/3/3/4;
  }
}
/* Fin de main */
/* Inicio de footer */
.contenedor-footer-index {
  display: grid;
  grid-template-columns: 20% 20% repeat(4, 5%) 40%;
  grid-template-rows: repeat(5, 150px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 3px solid black;
}

.div1-footer-index {
  grid-area: 5/1/6/2;
}

.div2-footer-index {
  grid-area: 4/3/5/4;
}

.div3-footer-index {
  grid-area: 4/4/5/5;
}

.div4-footer-index {
  grid-area: 4/5/5/6;
}

.div5-footer-index {
  grid-area: 4/6/5/7;
}

.div6-footer-index {
  grid-area: 5/1/6/2;
}

.redes-footer-index {
  width: 50px;
}

.sinfines {
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 150%;
  display: flex;
  justify-content: center;
}

.firma {
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 150%;
  display: flex;
  justify-content: center;
}

/* Fin Footer*/
@media only screen and (max-width: 1223px) and (min-width: 0px) {
  .div2-footer-index {
    grid-area: 1/5/2/6;
  }
  .div3-footer-index {
    grid-area: 2/5/3/6;
  }
  .div4-footer-index {
    grid-area: 3/5/4/6;
  }
  .div5-footer-index {
    grid-area: 4/5/5/6;
  }
  .redes-footer-index {
    width: 60px;
  }
  .div6-footer-index {
    grid-area: 5/1/7/6;
  }
}
@media only screen and (max-width: 434px) and (min-width: 0px) {
  .redes-footer-index {
    width: 30px;
  }
  .div2-footer-index {
    grid-area: 2/5/3/6;
  }
  .div3-footer-index {
    grid-area: 3/5/4/6;
  }
  .div4-footer-index {
    grid-area: 5/5/6/6;
  }
  .div5-footer-index {
    grid-area: 4/5/5/6;
  }
  .div6-footer-index {
    grid-area: 6/1/7/6;
  }
  .sinfines,
  .firma {
    font-size: 100%;
  }
}
/*Inicio Recitales*/
/*Fondo recitales*/
.fondo-recitales {
  background-image: url("../imagenes/fondorecitales4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* Comienzo Main */
.estetica-imagen {
  border-radius: 15px;
}

.cartarecitales {
  background-color: #18BCD1;
}

.fuente-carta {
  font-family: "Trispace", sans-serif;
  color: white;
}

/* Fin Main */
@media only screen and (min-width: 0px) and (max-width: 810px) {
  .estetica-imagen {
    width: 0px;
  }
}
/*discografia fondo*/
.fondo-discografia {
  background-image: url("../imagenes/fondodiscografia.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* Inicio main Discografia */
section div div img {
  border: 3px solid white;
}

.esteticacarta1 {
  color: black;
  background-color: #82CBC2;
  font-family: "Bebas Neue", cursive;
  border: 3px groove white;
}

.esteticacarta2 {
  background-color: #D98F89;
  font-family: "Bebas Neue", cursive;
  border: 3px groove white;
}

/* Fin main discografia */
/* INICIO HEADER / DISCOGRAFIA / ALBUMES / SENCILLOS */
.fondoalbumsenc {
  background-image: url("../imagenes/fondoalbumsencillo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* Inicio archivos con tapa musical & iframe */
.fondotapa {
  background-image: url("../imagenes/fondoiframe2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* Inicio Header */
.color-nav-iframe {
  background-color: #1C1714;
  border-radius: 15px;
}

/* Fin Header */
/*Titulo tapa musical*/
.fuentetitulo {
  color: #1C8642;
  font-family: "Akaya Telivigala", cursive;
  border-radius: 15px;
}

/* Fondo historia */
.fondo-historia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../imagenes/fondo11.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: 100% 100%;
  border: 2px solid black;
}

/* Inicio Main / Historia */
/* Section 1 */
section div div p {
  font-size: 27px;
  color: white;
  font-style: italic;
}

section div div h2 {
  color: white;
}

.margen-carrousel {
  margin: 62px 5px;
}

.p1::selection {
  background-color: #BC8851;
  color: #68645C;
}

/* Fin / Main / Historia */
/*contacto fondo */
.fondo-contacto {
  background-image: url("../imagenes/fondo9.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: 100% 100%;
}

/* Inicio Header */
.color-header-contacto {
  background-color: #E07C29;
  border-radius: 15px;
}

/* Fin Header */
/* Inicio Main */
.parent-main-contacto {
  display: grid;
  grid-template-columns: repeat(2, 25%) 1fr repeat(2, 25%);
  grid-template-rows: repeat(5, 130px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1-contacto {
  grid-area: 1/1/4/2;
}

.div2-contacto {
  grid-area: 1/2/2/3;
}

.div3-contacto {
  grid-area: 1/2/4/5;
  margin: 0% 30%;
}

.div4-contacto {
  grid-area: 2/2/3/5;
  margin: 5% 30%;
}

.div6-contacto {
  grid-area: 1/5/5/6;
}

.letraformulario {
  font-size: 20px;
  color: azure;
  border-radius: 10px;
}

.fondo-formulario {
  background-color: #EDA765;
}

/* MOVIMIENTO TAPA1 IZQUIERDA PANTALLA COMPLETA */
.z-tapa1 {
  animation: mover 5s ease-in-out infinite;
}

@keyframes mover {
  0% {
    transform: translate(50%, 25%);
    opacity: 50%;
  }
  25% {
    transform: translate(50%, 30%);
    opacity: 60%;
  }
  50% {
    transform: translate(50%, 40%);
    opacity: 70%;
  }
  75% {
    transform: translate(50%, 25%);
    opacity: 80%;
  }
  90% {
    transform: translate(50%, 25%);
    opacity: 90%;
  }
  100% {
    transform: translate(50%, 25%);
    opacity: 50%;
  }
}
/* FIN DE Main */
@media only screen and (max-width: 560px) and (min-width: 100px) {
  .div3-contacto {
    margin: 10% 10%;
  }
  .div4-contacto {
    margin: 30% 10%;
  }
}
/* MOVIMIENTO TAPA1 IZQUIERDA MENOS DE 1653 PX */
@media only screen and (max-width: 1653px) and (min-width: 1020px) {
  .z-tapa1,
  .z-tapa2 {
    width: 300px;
  }
}
@media only screen and (max-width: 1019px) and (min-width: 984px) {
  .z-tapa1,
  .z-tapa2 {
    width: 200px;
    animation: movertapa1 5s ease-in-out infinite;
  }
  @keyframes movertapa1 {
    0% {
      transform: translate(75%, 60%);
      opacity: 50%;
    }
    25% {
      transform: translate(75%, 65%);
      opacity: 60%;
    }
    50% {
      transform: translate(75%, 70%);
      opacity: 70%;
    }
    75% {
      transform: translate(75%, 65%);
      opacity: 80%;
    }
    90% {
      transform: translate(75%, 60%);
      opacity: 90%;
    }
    100% {
      transform: translate(75%, 55%);
      opacity: 50%;
    }
  }
}
@media only screen and (max-width: 983px) and (min-width: 700px) {
  .z-tapa1,
  .z-tapa2 {
    width: 200px;
  }
}
@media only screen and (max-width: 699px) and (min-width: 560px) {
  .z-tapa1,
  .z-tapa2 {
    width: 100px;
  }
}
@media only screen and (max-width: 559px) and (min-width: 0px) {
  .z-tapa1,
  .z-tapa2 {
    width: 0px;
  }
}
/* MOVIMIENTO TAPA2 DERECHA PANTALLA COMPLETA */
.z-tapa2 {
  animation: movimiento 5s ease-in-out infinite;
}

@keyframes movimiento {
  0% {
    transform: translate(-55%, 25%);
    opacity: 50%;
  }
  25% {
    transform: translate(-55%, 30%);
    opacity: 60%;
  }
  50% {
    transform: translate(-55%, 40%);
    opacity: 70%;
  }
  75% {
    transform: translate(-55%, 25%);
    opacity: 80%;
  }
  90% {
    transform: translate(-55%, 25%);
    opacity: 90%;
  }
  100% {
    transform: translate(-55%, 25%);
    opacity: 50%;
  }
}
/* INICIO DE FOOTER */
.contenedor-footer-contacto {
  display: grid;
  grid-template-columns: 40% repeat(4, 1fr) 40%;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1-footer-contacto {
  grid-area: 1/1/2/2;
}

.div2-footer-contacto {
  grid-area: 2/2/3/3;
}

.div3-footer-contacto {
  grid-area: 2/3/3/4;
}

.div4-footer-contacto {
  grid-area: 2/4/3/5;
}

.div5-footer-contacto {
  grid-area: 2/5/3/6;
}

.div6-footer-contacto {
  grid-area: 1/6/2/7;
}

.redes-footer-contacto {
  width: 50px;
}

/*Query footer contacto*/
@media only screen and (max-width: 983px) and (min-width: 700px) {
  .redes-footer-contacto {
    margin: 0px;
    width: 25px;
  }
}
@media only screen and (max-width: 699px) and (min-width: 100px) {
  .redes-footer-contacto {
    margin: 0px;
    width: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
