/* INICIO HEADER / DISCOGRAFIA / ALBUMES / SENCILLOS */
.fondoalbumsenc {
    background-image: url(/images/fondoalbumsencillo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }