/* Inicio main Discografia */
  
  section div div img {
    border: 3px solid white;
  }
  .esteticacarta1 {
    color: black;
    background-color:#82CBC2;
    font-family: "Bebas Neue", cursive;
    border: 3px groove white;
  }  
  .esteticacarta2{
    color: black;
    background-color:#D98F89;
    font-family: "Bebas Neue", cursive;
    border: 3px groove white;
  }
  /* Fin main discografia */