/* Inicio main Discografia */
.uceecdunmestetica {
    color: #EDBD5B;
    background-color: #C52C69;
    font-family: "Bebas Neue", cursive;
  }
  
  .convosestetica {
    color: #C7C7C7;
    background-color: #131313;
    font-family: "Bebas Neue", cursive;
  }
  
  .cumbiaremixestetica {
    color: #EBB99B;
    background-color: #0F3237;
    font-family: "Bebas Neue", cursive;
  }
  
  .yernosperfectosestetica {
    color: #BE9167;
    background-color: #812728;
    font-family: "Bebas Neue", cursive;
  }
  
  .cumbiaestetica {
    color: #E48054;
    background-color: #372E22;
    font-family: "Bebas Neue", cursive;
  }
  
  .yqueestetica {
    color: #E8B21F;
    background-color: #D73A65;
    font-family: "Bebas Neue", cursive;
  }
  
  .saberperderestetica {
    color: #A13349;
    background-color: #13A087;
    font-family: "Bebas Neue", cursive;
  }
  
  .tualegriaaflordepielestetica {
    color: #F8C758;
    background-color: #513A3A;
    font-family: "Bebas Neue", cursive;
  }
  
  .caligarissinfonicoestetica {
    color: #EDA765;
    background-color: #112933;
    font-family: "Bebas Neue", cursive;
  }
  
  .vivirasiesmorirdeamorestetica {
    color: #F1BC55;
    background-color: #0D405B;
    font-family: "Bebas Neue", cursive;
  }
  
  .mojarritaacusticoestetica {
    color: #D4E4C0;
    background-color: #D44806;
    font-family: "Bebas Neue", cursive;
  }
  
  .unratodeamoracusticoestetica {
    color: #32CDBA;
    background-color: #D44806;
    font-family: "Bebas Neue", cursive;
  }
  
  .laabundanciaestetica {
    color: #2F3A3C;
    background-color: #54C8A5;
    font-family: "Bebas Neue", cursive;
  }
  
  .salvaestetica {
    color: #DF7742;
    background-color: #161D21;
    font-family: "Bebas Neue", cursive;
  }
  
  .quenoquedenhuellaestetica {
    color: #F0DAC6;
    background-color: #BB2D26;
    font-family: "Bebas Neue", cursive;
  }
  
  .voyavolverestetica {
    color: #574E6D;
    background-color: #E5A6D1;
    font-family: "Bebas Neue", cursive;
  }
  
  .quedaenestanocheestetica {
    color: #DBB848;
    background-color: #1A1914;
    font-family: "Bebas Neue", cursive;
  }
  
  .florentinoyferminasestetica {
    color: #6571B3;
    background-color: #E4A682;
    font-family: "Bebas Neue", cursive;
  }
  
  .veinteestetica {
    color: #759985;
    background-color: #211612;
    font-family: "Bebas Neue", cursive;
  }
  
  .noestasestetica {
    color: #D69890;
    background-color: #2A1F20;
    font-family: "Bebas Neue", cursive;
  }
  
  .latempestadestetica {
    color: #383A59;
    background-color: #79A161;
    font-family: "Bebas Neue", cursive;
  }
  
  .cadavezestetica {
    color: #D69890;
    background-color: #2A1E1F;
    font-family: "Bebas Neue", cursive;
  }
  
  .razonestetica {
    color: #44A1A1;
    background-color: #2B1E20;
    font-family: "Bebas Neue", cursive;
  }
  
  .cancionesfelicesestetica {
    color: #F48023;
    background-color: #EAE9E8;
    font-family: "Bebas Neue", cursive;
  }
  
  .somostodosvivosestetica {
    color: #0F0D10;
    background-color: #CD906A;
    font-family: "Bebas Neue", cursive;
  }
  
  .malifetaestetica {
    color: #55828F;
    background-color: #E0DEDE;
    font-family: "Bebas Neue", cursive;
  }
  
  .quecorranestetica {
    color: #B84D09;
    background-color: #E0DEDE;
    font-family: "Bebas Neue", cursive;
  }
  
  .circologiaestetica {
    color: #301816;
    background-color: #AD583C;
    font-family: "Bebas Neue", cursive;
  }
  
  .todoslocosestetica {
    color: #1F1212;
    background-color: #07A090;
    font-family: "Bebas Neue", cursive;
  }
  
  .cancionesparaarmarestetica {
    color: #3B2413;
    background-color: #379C8E;
    font-family: "Bebas Neue", cursive;
  }
  
  .bailarinapocalipticoestetica {
    color: #C73A30;
    background-color: #DBB55A;
    font-family: "Bebas Neue", cursive;
  }
  
  .transpirandoalegriaestetica {
    color: #110F0C;
    background-color: #CAA180;
    font-family: "Bebas Neue", cursive;
  }
  
  .noesloquepareceestetica {
    color: #FA9C2D;
    background-color: #883B20;
    font-family: "Bebas Neue", cursive;
  }
  
  .canchosamigosestetica {
    color: #3E492B;
    background-color: #EBA1AB;
    font-family: "Bebas Neue", cursive;
  }
  
  .grasastotalesestetica {
    color: #150B12;
    background-color: #A03E33;
    font-family: "Bebas Neue", cursive;
  }
  
  .aniejowestetica {
    color: #103ECC;
    background-color: #E08D76;
    font-family: "Bebas Neue", cursive;
  }
  
  /* Fin main discografia */