/* Inicio Main / Historia */
/* Section 1 */
.section1-main-historia {
    font-size: 30px;
    color: #BC8851;
    font-style: italic;
  }
  
  /* Section 2 */
  .section2-main-historia {
    font-size: 27px;
    color: #BC8851;
    font-style: italic;
  }
  
  .carrousel-main-historia {
    border-radius: 15px;
    border: 2px solid #68645C;
  }
  
  .margen-carrousel {
    margin: 62px 5px;
  }
  
  .p1::selection {
    background-color: #BC8851;
    color: #68645C;
  }
  
  /* Fin / Main / Historia */