/* Inicio Main / Historia */
/* Section 1 */
  .tituloh1{
    display: flex;
    justify-content: center;
    font-family: "Trispace", sans-serif;
    font-style:italic;
    color: white;
  }
  .p1{
    font-size: 30px;
    color: white;
    font-style: italic;
  }
  
  .margen-carrousel {
    margin: 62px 5px;
  }
  
  .p1::selection {
    background-color: #BC8851;
    color: #68645C;
  }
  
  /* Fin / Main / Historia */