/* Inicio de footer */

.contenedor-footer-index {
  display: grid;
  grid-template-columns: 20% 20% repeat(4, 5%) 40%;
  grid-template-rows: repeat(5, 150px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 3px solid black;
}

.div1-footer-index {
  grid-area: 5/1/6/2;
}

.div2-footer-index {
  grid-area: 4/3/5/4;
}

.div3-footer-index {
  grid-area: 4/4/5/5;
}

.div4-footer-index {
  grid-area: 4/5/5/6;
}

.div5-footer-index {
  grid-area: 4/6/5/7;
}

.div6-footer-index {
  grid-area: 5/1/6/2;
}

.redes-footer-index {
  width: 50px;
}

.sinfines{
  color: white;
  font-size: 150%;
  display: flex;
  justify-content: center;
}

.firma{
  color: white;
  font-size: 150%;
  display: flex;
  justify-content: center;
}
  
  
  /* Fin Footer*/