/* Main / Section / Div */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 25%);
    grid-template-rows: repeat(5, 150px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  
  .div1 {
    grid-area: 1/1/2/2;
  }
  
  .div2 {
    grid-area: 1/2/2/3;
  }
  
  .div3 {
    grid-area: 1/3/2/4;
  }
  
  .div4 {
    grid-area: 1/4/2/5;
  }
  
  .div5 {
    grid-area: 2/1/3/2;
  }
  
  .div6 {
    grid-area: 2/2/3/3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF6BF;
    font-size: 8rem;
  }
  
  .div7 {
    grid-area: 2/3/3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF6BF;
    font-size: 8rem;
  }
  
  .div6,
  .div7 {
    animation: movimiento 3s ease-in-out infinite;
  }
  
  @keyframes movimiento {
    0% {
      transform: translate(-20%, 0);
      opacity: 50%;
    }
    25% {
      transform: translate(-10%, 0);
      opacity: 60%;
    }
    50% {
      text-shadow: 0 25px 50px rgb(255, 235, 173);
      transform: translate(1%, 0);
      opacity: 70%;
    }
    75% {
      transform: translate(-5%, 0);
      opacity: 80%;
    }
    90% {
      transform: translate(-10%, 0);
      opacity: 90%;
    }
    100% {
      transform: translate(-20%, 0);
      opacity: 50%;
    }
  }
  .div8 {
    grid-area: 2/4/3/5;
  }
  
  .div9 {
    grid-area: 3/1/4/2;
  }
  
  .div10 {
    grid-area: 3/2/4/3;
  }
  
  .div11 {
    grid-area: 3/3/4/4;
  }
  
  .div12 {
    grid-area: 3/4/4/5;
  }
  
  .div13 {
    grid-area: 4/1/5/2;
  }
  
  .div14 {
    grid-area: 4/2/5/3;
  }
  
  .div15 {
    grid-area: 4/3/5/4;
  }
  
  .div16 {
    grid-area: 4/4/5/5;
  }
  
