/*.fondo-index {
    background-image: url("../imagenes/fondoproyecto.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }*/
  .fondo-index {
 
    background: -webkit-radial-gradient(#560e86, #0a0011);
  }