.fondoindexmain {
  background-image: url("../imagenes/imagenindex2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  z-index: -2;
}
.fondoindexfooter {
  background-image: url("../imagenes/imagenindexfondo1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}