/* Inicio de footer */

.contenedor-footer-index {
  display: grid;
  grid-template-columns: 40% repeat(4, 1fr) 40%;
  grid-template-rows: repeat(5, 150px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1-footer-contacto {
  grid-area: 1/1/2/2;
}

.div2-footer-index {
  grid-area: 4/2/5/3;
}

.div3-footer-index {
  grid-area: 4/3/5/4;
}

.div4-footer-index {
  grid-area: 4/4/5/5;
}

.div5-footer-index {
  grid-area: 4/5/5/6;
}

.div6-footer-contacto {
  grid-area: 1/6/2/7;
}

.redes-footer-contacto {
  width: 50px;
}

  
  
  /* Fin Footer*/