/* Main / Section / Div */

.fondoindexnuevo {

  background: -webkit-radial-gradient(#560e86, #0a0011);
}
.contenedorspan {
  font-size: 120pt;
  font-weight: bold;
  position: relative;
  font-family: "Fredoka One";
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.contenedorspan::before {
  content: var(--l);
  position: absolute;
  transform: scale(1.1);
  filter: blur(15px);
}
.contenedorspan::after {
  content: var(--l);
  position: absolute;
  height: 200%;
  width: 300px;
  top: 80%;
  left: 0;
  filter: blur(30px);
  transform: rotateX(50deg);
}
.contenedorspan:hover {
  filter: contrast(250%);
}
.contenedorspan:nth-child(1) {
  color: #00bef8;
}
.contenedorspan:nth-child(2) {
  color: #ff0697;
}
.contenedorspan:nth-child(3) {
  color: #ff4d00;
}
.contenedorspan:nth-child(4) {
  color: #ffe600;
}
.contenedorspan:nth-child(5) {
  color: #bb00ff;
}