/* Comienzo Main */
.estetica-imagen {
    border-radius: 15px;
  }
  
.cartarecitales {
  background-color: #18BCD1;
}

.fuente-carta {
  font-family: "Trispace", sans-serif;
  color: white;
}
  
  /* Fin Main */