/*Fondo recitales*/
.fondo-recitales {
    background-image: url("../imagenes/fondorecitales4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }