/* Comienzo Main */
.estetica-imagen {
    border-radius: 15px;
    border: 2px solid #18BCD1;
  }
  
  .carta-tecnopolis {
    background-color: #18BCD1;
  }
  
  .carta-cordoba {
    background-color: #DED6D1;
  }
  
  .carta-mendoza {
    background-color: #FBAE1A;
  }
  
  .fuente-carta {
    font-family: "Trispace", sans-serif;
    color: #DED6D1;
  }
  
  .fuente-carta1 {
    font-family: "Trispace", sans-serif;
    color: #18BCD1;
  }
  
  .fuente-carta2 {
    font-family: "Trispace", sans-serif;
  }
  
  /* Fin Main */